@import "theme", "fonts", "animations", "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1.2;
  color: $text-primary;
  background-color: $background-primary;
  font-family: $font;
  width: 100%;
  min-width: 320px;

  * {
    font-family: $font;
  }
}

#scroll-snap {
  position: relative;
}

html,
#scroll-snap {
  // scroll-snap-type: y proximity;

  @include desktop {
    scroll-snap-type: none;
  }
}

#__next {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

a,
.anchor {
  color: $primary;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

section {
  overflow: hidden;
}

p {
  width: 100%;
  font-size: 1rem;
  font-family: $font;
  color: inherit;
  margin: 0;
}

.bullet {
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.active {
    @include bulletActive($secondary);
  }
  @include desktop {
    &:hover {
      @include bulletActive($secondary);
    }
  }
  span {
    transition: all $transition-time-quick $transition-easing;
    display: block;
    background-color: $bullet-color;
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }
}
.smallerBullet {
  width: 24px !important;
  height: 30px !important;
  padding-bottom: 4px !important;

  span {
    width: 4px !important;
    height: 4px !important;
    transform: translateY(-1px);
  }
}
.mediumBullet {
  width: 28px !important;
  height: 28px !important;
  padding-bottom: 6px !important;

  span {
    width: 5px !important;
    height: 5px !important;
  }
}

.noScroll {
  overflow: hidden !important;
}

strong {
  &.black {
    font-weight: $font-weight-bold;
  }

  &.italic {
    font-style: italic;
  }
}

.bringToFront {
  position: relative;
  z-index: 1;
}

span.highlighted {
  background-color: $secondary;
  color: $text-secondary;
  white-space: nowrap;
}

.swiper-slide {
  overflow: hidden;
  //height: auto !important;
}

.pnlm-container {
  width: 100% !important;
  height: 100% !important;
  .pnlm-about-msg {
    display: none !important;
  }
}

@import "inputs", "accordion";

* {
  backface-visibility: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar-track;
  }
  ::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-body;
  }
  ::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-body $scrollbar-track;
  box-sizing: border-box;
}

.containerPd {
  .swiper-slide {
    height: auto !important;
  }
}
